body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 20px;
}

/* Contenedor del logo */
.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

/* Estilo del logo */
.logo {
    width: 150px; /* Ajusta el tamaño del logo */
    height: auto; /* Mantiene la proporción de la imagen */
}

/* Encabezado principal */
h1 {
    color: #2c3e50;
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
}

/* Párrafo de presentación */
p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 30px;
}

/* Sección de cursos */
h2 {
    color: #2980b9;
    font-size: 28px;
    margin-bottom: 10px;
}

ul {
    list-style-type: square;
    padding-left: 20px;
}

/* Estilos de los enlaces a los compañeros */
a {
    color: #e74c3c;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: #c0392b;
}